//
   Created with JetBrains WebStorm.
   User: Chris
   Date: 3/11/13
   Time: 7:47 AM
   To change this template use File | Settings | File Templates.

#5133a713a230a0dc10000001.post
    .postview
        .thumbnails
            .thumbnail
                .row-fluid
                    div.span4
                        img(src="http://rack.3.mshcdn.com/media/ZgkyMDEyLzEyLzA0LzUzL3RoZXRvcDEwbWVtLmJpSi5qcGcKcAl0aHVtYgk5NTB4NTM0IwplCWpwZw/d16af8ca/356/the-top-10-memes-of-the-olympics-will-impress-even-mckayla-6396d0255e.jpg")
                .row-fluid
                    div.span2
                    div.span2
                        .caption
                            span England Stuff
                .row-fluid
                    .span1
                        a.btn.btn-primary.edit(href="javascript:void(0)") Edit
                    .span1
                        a.btn(href="javascript:void(0)") Delete
                .row-fluid
                    .postedit