extends layout

block content
    script(type="text/javascript", src="https://raw.github.com/antoniogarrote/rdfstore-js/master/frontend/js/rdf_store.js")
    script(type="text/javascript", src="/javascripts/lib/rdf_interface_api.js")
    script(type="text/javascript", src="https://raw.github.com/antoniogarrote/json-ld-macros/master/src/macro.js")
    script(type="text/javascript", src="/javascripts/app/storeapi.js")
  //script(type="text/javascript", src="/javascripts/redirect.js")
  //h1= title
  //p Welcome to #{title}
