script(type="text/javascript",src="/javascripts/app/controls/postedit.js")
script(type="text/html", id="postedit-template")
    form(method="post")
        div
            input(data-bind="value:description",placeholder="description")
